---

---

<section class="moments" aria-labelledby="moments-title">
  <div class="container">
    <div class="wrapper">
      <h2 class="text-center" id="moments-title">Momentos especiais</h2>
      <p>Momentos marcantes merecem serem lembrados, reservarmos algumas fotos da nossa trajetória.</p>
    </div>

    <div class="moments-wrapper">
      <div class="moments__image">
        <img src="../images/photo-4.webp" class="img-fluid" loading="lazy" alt="">
      </div>

      <div class="moments__image">
        <img src="../images/photo-2.webp" class="img-fluid" loading="lazy" alt="">
      </div>
      
      <div class="moments__image">
        <img src="../images/photo-3.webp" class="img-fluid" loading="lazy" alt="">
      </div>

      <div class="moments__image">
        <img src="../images/photo-1.webp" class="img-fluid" loading="lazy" alt="">
      </div>

      <div class="moments__image">
        <img src="../images/photo-5.webp" class="img-fluid" loading="lazy" alt="">
      </div>

      <div class="moments__image">
        <img src="../images/photo-6.webp" class="img-fluid" loading="lazy" alt="">
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .moments {
    padding: 100px 0;

    @media(max-width: 991px) {
      padding: 80px 0;
    }

    @media(max-width: 768px) {
      padding: 50px 0;
    }

    @media(max-width: 480px) {
      padding: 20px 0;
    }
  }

  .moments-wrapper {
    display: flex;
    justify-content: center;

    @media(max-width: 480px) {
      flex-direction: column;
    }
  }

  .moments__image {
    padding: 0 5px;

    @media(max-width: 480px) {
      margin-bottom: 15px;
    }
  }
</style>