---

---

<section class="moments" aria-labelledby="moments-title">
  <div class="container">
    <div class="wrapper">
      <h2 class="text-center" id="moments-title">Momentos especiais</h2>
      <p>Momentos marcantes merecem serem lembrados, reservarmos algumas fotos da nossa trajetória.</p>
    </div>

    <div class="moments-wrapper">
      <div class="moments__image">
        <picture>
          <source srcset="../images/moments/photo-4.webp" type="image/webp">
          <source srcset="../images/moments/photo-4.jpg" type="image/jpeg">
          <img src="../images/moments/photo-4.jpg" class="img-fluid" alt="Primeira foto de Bruno e Mari juntos." loading="lazy" aria-describedby="desc1">
        </picture>
        <div class="visually-hidden" id="desc1">
          <p>Bruno é um homem branco, olhos escuros, usa gorro preto de lã e máscara preta tampando a boca e o nariz, usa óculos de grau com armação preta arredondada e casaco preto. Mariana é uma mulher branca, cabelos castanho claro longos, olhos castanhos, usa máscara rosa tampando a boca e o nariz, e casaco preto. Bruno está com um dos braços sobre os ombros de Mariana de mãos dadas, ao fundo há uma mesa branca de vidro com um abajour branco aceso, uma janela branca de vidro e uma parede bege com detalhes verde escuro. A foto foi tirada na primeira visita de Bruno a Petrópolis no Hotel Quitandinha.</p>
        </div>
      </div>

      <div class="moments__image">
        <picture>
          <source srcset="../images/moments/photo-2.webp" type="image/webp">
          <source srcset="../images/moments/photo-2.jpg" type="image/jpeg">
          <img src="../images/moments/photo-2.jpg" class="img-fluid" alt="Bruno e Mariana fazendo careta para a foto." loading="lazy" aria-describedby="desc2">
        </picture>
        <div class="visually-hidden" id="desc2">
          <p>Bruno é um homem branco, olhos escuros, usa gorro preto de lã e óculos de grau com armação preta arredondada e barba grande escura, está de casaco de zíper cinza escuro. Mariana é uma mulher branca, cabelos castanho claro longos, está com os olhos fechados apertados, está usando casaco preto e gola de lã cinza. Os dois estão com os rostos colados fazendo bico pra foto.</p>
        </div>
      </div>
      
      <div class="moments__image">
        <picture>
          <source srcset="../images/moments/photo-3.webp" type="image/webp">
          <source srcset="../images/moments/photo-3.jpg" type="image/jpeg">
          <img src="../images/moments/photo-3.jpg" class="img-fluid" alt="Bruno e Mariana abraçados" loading="lazy" aria-describedby="desc3">
        </picture>
        <div class="visually-hidden" id="desc3">
          <p>Bruno é um homem branco magro de estatura alta, olhos escuros, cabelo castanho escuro cortado bem baixo, barba escura grande, usa óculos de grau com armação preta arredondada, blusa social branca de mangas curtas, bermuda verde clara e tênis casual branco. Mariana é uma mulher branca, cabelos castanho claro longos com cachos nas pontas, olhos castanhos bem marcados com maquiagem, usa batom vinho, bochechas avermelhadas, usa vestido branco longo com mangas julieta. Os dois estão abraçados um de frente pro outro e ambos olhando para cima, estão em um gramado com bromélias ao redor e árvores ao fundo.</p>
        </div>
      </div>

      <div class="moments__image">
        <picture>
          <source srcset="../images/moments/photo-1.webp" type="image/webp">
          <source srcset="../images/moments/photo-1.jpg" type="image/jpeg">
          <img src="../images/moments/photo-1.jpg" class="img-fluid" alt="Bruno e Mariana comemorando o primeiro dia dos namorados juntos." loading="lazy" aria-describedby="desc4">
        </picture>
        <div class="visually-hidden" id="desc4">
          <p>Bruno é um homem branco, olhos escuros, usa óculos de grau com armação preta arredondada e barba grande escura, está de ccamisa social azul escura. Mariana é uma mulher branca, cabelos castanho claro e olhos castanhos. Mariana está por trás de Bruno com o queixo apoiado no ombro dele, ambos sorriem levemente e olham para a foto. Ao fundo há uma parede cinza com duas bolas vermelhas no formato de corações.</p>
        </div>
      </div>

      <div class="moments__image">
        <picture>
          <source srcset="../images/moments/photo-5.webp" type="image/webp">
          <source srcset="../images/moments/photo-5.jpg" type="image/jpeg">
          <img src="../images/moments/photo-5.jpg" class="img-fluid" alt="Bruno e Mariana abraçados dando um selinho na beira da lagoa da Pampulha." loading="lazy" aria-describedby="desc5">
        </picture>
        <div class="visually-hidden" id="desc5">
          <p>Bruno é um homem branco magro de estatura alta, usa boné preto com a aba pra trás, barba escura grande, usa óculos de grau, camisa de malha vermelha, bermuda jeans escuro e tênis preto. Mariana é uma mulher branca, cabelos castanho claro longos preso em um rabo de cavalo, usa vestido cinza curto de alça grossa. Os dois estão abraçados um de frente pro outro se beijando. Ao lado há uma grande árvore que passa por cima no casal e ao fundo a lagoa da Pampulha na cor verde e o chão é de terra.</p>
        </div>
      </div>

      <div class="moments__image">
        <picture>
          <source srcset="../images/moments/photo-6.webp" type="image/webp">
          <source srcset="../images/moments/photo-6.jpg" type="image/jpeg">
          <img src="../images/moments/photo-6.jpg" class="img-fluid" alt="Bruno e Mariana olhando um para o outro de mãos dadas." loading="lazy" aria-describedby="desc6">
        </picture>
        <div class="visually-hidden" id="desc5">
          <p>Bruno é um homem branco magro de estatura alta, olhos escuros, cabelo castanho escuro cortado bem baixo, barba escura grande, usa óculos de grau com armação preta arredondada, blusa social branca de mangas curtas, bermuda verde clara e tênis casual branco. Mariana é uma mulher branca, cabelos castanho claro longos com cachos nas pontas, olhos castanhos bem marcados com maquiagem, usa batom vinho e está sorrindo, bochechas avermelhadas, usa vestido branco longo com mangas julieta. Os dois estão em pé, um de frente pro outro de mãos dadas para baixo, estão em um gramado com grandes pedras, bromélias e árvores ao fundo.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .moments {
    padding: 100px 0;

    @media(max-width: 991px) {
      padding: 80px 0;
    }

    @media(max-width: 768px) {
      padding: 50px 0;
    }

    @media(max-width: 480px) {
      padding: 20px 0;
    }
  }

  .moments-wrapper {
    display: flex;
    justify-content: center;

    @media(max-width: 480px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .moments__image {
    padding: 0 5px;

    @media(max-width: 480px) {
      margin-bottom: 15px;
    }
  }
</style>