---
import Heart from 'components/heart.astro';
---
<section class="services mb-80" id="services" aria-labelledby="services-title">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 text-center">
        <h2 class="section-title text-center" id="services-title">Serviços</h2>
        <Heart />
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .services {
    background: var(--standard);
  }
  .services,
  .entertainment {
    padding: 100px 0;
  }

  .section-title {
    color: var(--olive);
    font-weight: 700;
    margin-bottom: 10px;
  }

  .card {
    margin-bottom: 20px;

    &-title {
      font-size: 20px;
      font-weight: 700;
    }
  }
</style>