---
import Icon from 'astro-icon';

interface Props { 
  cardImage: string;
  cardTextAlternative?: string;
  cardTitle: string;
  cardSocial?: string;
}

const { cardImage, cardTextAlternative, cardTitle, cardSocial } = Astro.props;
---
 
<div class="card atrativo-box">
  <img class="card-img-top" src={cardImage} alt={cardTextAlternative} />

  <div class="card-body descricao">
    <h3 class="card-title">{cardTitle}</h3>
    <div class="card-text funcionamento">
      <slot />
    </div>
    <div class="separador"></div>

    <span class="social instagram-atrativos">
      <b>Instagram:</b><br /><a
        href={cardSocial}
        ><span class="ico-box">
          <Icon name="mdi:instagram" aria-hidden="true" />
        </span
        >
      </a>
    </span>
  </div>
</div>
