---
import Icon from 'astro-icon';
---

<footer class="site-footer">
  <div class="container">
    <div class="footer-border">
      <div class="row d-flex align-items-center">
        <div class="col-xl-12">
          <div class="footer-copy-right">
            <p>
              Copyright &copy; {new Date().getFullYear()}
              Todos os direitos reservados | Esse template foi criado
              <Icon name="mdi:heart" aria-hidden="true" width="18" height="16" />
              por <a href="https://colorlib.com" target="_blank">Colorlib</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  .site-footer {
    background: var(--theme-black);
    color: #fff;
    padding: 10px;

  } 
.footer-area {
  .footer-logo {
    margin-bottom: 30px;
  }
  .footer-pera {
    .info1 {
      line-height: 1.8;
      margin-bottom: 30px;
      padding-right: 5px;
    }

    .info2 {
      margin-bottom: 0;
    }

    &.footer-pera2 p {
      line-height: 1.9;
      padding: 0;
    }
  }

  .footer-tittle {
    & h4 {
      color: #fff;
      font-family: var(--font-2);
      font-size: 18px;
      margin-bottom: 38px;
      font-weight: 500;
      text-transform: uppercase;
    }

    & ul {
      & li {
        color: #cfcfcf;
        margin-bottom: 15px;
        text-transform: capitalize;
        font-size: 14px;

        & a {
          color: #cfcfcf;
          font-weight: 300;

          &:hover {
            // color: $theme-color;
            padding-left: 5px;
          }
        }
      }
    }
  }
}

.footer-main {
  background: var(--theme-black);
}

//copy Right 
.footer-bottom-area {
  .footer-border {
    border-top: 1px solid #26282c;
    padding: 33px 0px 33px;
  }
}

.footer-copy-right {
  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
    margin: 0;
    color: #fff;
    text-align: center;
  }
}

  [astro-icon="mdi:heart"] {
    color: #cd0102;
    fill: #cd0102;
  }
</style>
