<div class="gallery-area section-padding4">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="single-gallery mb-30">
					<div
						class="gallery-img"
						style="background-image: url(/images/gallery/gallery1.png);"
					>
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-md-6">
				<div class="single-gallery mb-30">
					<div
						class="gallery-img"
						style="background-image: url(/images/gallery/gallery2.png);"
					>
					</div>
					<div class="thumb-content-box">
						<div class="thumb-content">
							<h3>image 02</h3>
							<a href="/images/gallery/gallery1.png" class="menorie-icon">
								<i class="ti-plus"></i></a
							>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-md-6">
				<div class="single-gallery mb-30">
					<div
						class="gallery-img"
						style="background-image: url(/images/gallery/gallery3.png);"
					>
					</div>
					<div class="thumb-content-box">
						<div class="thumb-content">
							<h3>image 03</h3>
							<a href="/images/gallery/gallery1.png" class="menorie-icon">
								<i class="ti-plus"></i></a
							>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-gallery mb-30">
					<div
						class="gallery-img"
						style="background-image: url(/images/gallery/gallery4.png);"
					>
					</div>
					<div class="thumb-content-box">
						<div class="thumb-content">
							<h3>image 04</h3>
							<a href="/images/gallery/gallery1.png" class="menorie-icon">
								<i class="ti-plus"></i></a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
