---
import Icon from 'astro-icon';
---

<div class="heart-divider">
  <span class="grey-line"></span>
  <Icon name="mdi:heart" class="pink-heart" width="25" height="21" aria-hidden="true" />
  <Icon name="mdi:heart" class="grey-heart" width="25" height="21" aria-hidden="true" />
  <span class="grey-line"></span>
</div>
