---
import Heart from '../components/heart.astro';
---
<section class="rsvp" id="rsvp">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="section-title animation animate__animated animate__fadeInUp">
					<Heart />

					<h2>Você vai comparecer?</h2>
					<p>Por favor, reserve a data de 14 de outubro de 2023.</p>

					<a href="rsvp-1.html" class="mb__button de-button medium animation animate__animated animate__fadeInUp">Confirmar</a>
				</div>
			</div>
		</div>
	</div>
</section>

<style lang="scss">
  .rsvp {
    background: var(--white);
    padding: 85px 0;
  }

  .mb__button {
    padding: 10px 50px;
    font-size: 16px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #FFF;
    color: var(--olive);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    border: solid 1px #6a6a6a;
  }
</style>
