---
import Icon from 'astro-icon';
import Heart from '../components/heart.astro';
---

<section class="wedding-info pricing-card-area section-bg">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-lg-12">
				<div class="section-tittle text-center mb-70">
					<h2 class="wedding-info__title">O Casamento</h2>

					<div class="wedding-info__content">
						<p>
							Reservamos informações importantes sobre nosso casamento para você desfrutar.
						</p>
					</div>
          <Heart />
				</div>
			</div>
		</div>

		<div class="row">
      <div class="wedding-item col-md-4">
        <div class="photo-item">
          <picture>
            <source srcset="./images/dom-lenbruger.avif" type="image/avif" loading="lazy">
            <source srcset="./images/dom-lenbruger.webp" type="image/webp" loading="lazy">
            <img src="./images/dom-lenbruger.webp" alt="" srcset="" loading="lazy">
          </picture>
        </div>

        <div class="title-excerpt">
          <h3 class="item__title">O local</h3>
          <address>Vale dos Esquilos - R. Pinho da Silva, 99-121 - Retiro, Petrópolis - RJ, 25680-670</address>
        </div>
      </div>

      <div class="wedding-item col-md-4">
        <div class="photo-item">
          <picture>
            <source srcset="./images/gift.avif" type="image/avif" loading="lazy">
            <source srcset="./images/gift.webp" type="image/webp" loading="lazy">
            <img src="./images/gift.webp" alt="" srcset="" loading="lazy">
          </picture>
        </div>

        <div class="title-excerpt">
          <h3 class="item__title"><a href="#wedding-gifts-title">Lista de presentes</a></h3>
          <p>
            Criamos duas listas de presentes para maior comodidade.
          </p>
        </div>
      </div>

      <div class="wedding-item col-md-4">
        <div class="photo-item">
          <picture>
            <source srcset="./images/accomodation.avif" type="image/avif" loading="lazy">
            <source srcset="./images/accomodation.webp" type="image/webp" loading="lazy">
            <img src="./images/accomodation.webp" alt="" srcset="" loading="lazy">
          </picture>
        </div>

        <div class="title-excerpt">
          <h3 class="item__title"><a href="/acomodacoes">Acomodações</a></h3>
          <p>
            Separamos uma lista de vários locais para vocês se hospedarem
            e desfrutarem na cidade imperial.
          </p>
        </div>
      </div>
		</div>
	</div>
</section>

<style lang="scss">
	.wedding-info {
		padding: 100px 0;
	}

  .photo-item {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .photo-item .layer.border-photo-caption {
    opacity: 1;
    border: 1px solid #Fff;
  }

  .photo-item .layer.wh95 {
    width: 95%;
    height: 95%;
  }

  .photo-item .layer {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .title-excerpt {
    position: relative;
    background-color: #FFF;
    padding: 25px;
  }

  .item__title {
    font-size: 20px;
    margin: 20px 0;
    text-transform: uppercase;
  }

	.pricing-card-area {
		.single-card {
			background: #fff;
			padding: 70px 25px;
			padding-bottom: 0;
			box-shadow: 0px 0px 9px 0px rgba(131, 93, 248, 0.07);
			transition: all ease 0.3s;
			border: 1px solid transparent;

			.card-top {
				border-bottom: 2px solid#f4f4f4;
				margin-bottom: 46px;

				// icon
				span {
					font-size: 50px;
					display: block;
					margin-bottom: 10px;
				}

				h3 {
					color: #2e3c40;
					font-size: 25px;
					font-weight: 700;
					margin-bottom: 26px;
				}
			}

			.card-bottom {
				ul {
					li {
						color: #636363;
						font-weight: 300;
						margin-bottom: 26px;
						font-size: 16px;

						&:last-child {
							margin-bottom: 0px;
						}

						i {
							padding-right: 7px;
						}
					}
				}
			}

			.card-buttons {
				transition: all ease 0.3s;
				visibility: hidden;
				opacity: 0;
			}

			// hover
			&.active {
				padding-bottom: 70px;
				border: 1px solid #ff2828;

				.card-buttons {
					visibility: visible;
					opacity: 1;
				}
			}

			&:hover {
				box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
				border: 1px solid #ff2828;
				padding-bottom: 70px;

				.card-buttons {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
</style>
