---
import Heart from '../heart.astro';
---
<section class="couple" aria-labelledby="couple-title">
	<div class="container">
		<div class="row position-relative">
			<div class="text-center">
				<div class="section-title">
					<h2 class="couple__title" id="couple-title">O casal</h2>

					<p class="blurb">
						Nós, Bruno e Mariana, somos um casal que valoriza muito a acessibilidade e a tecnologia. 
            Por isso, fizemos questão de criar um site de casamento que fosse acessível a todos e que utilizasse a tecnologia para facilitar a comunicação e o compartilhamento de informações.
					</p>
					<Heart />
				</div>
			</div>

			<div class="col-md-6">
        <picture class="">
          <source srcset="./images/couple.webp" type="image/webp">
          <source srcset="./images/couple.jpg" type="image/jpeg">
          <img src="/images/couple.jpg" class="mx-auto d-block" alt="Bruno de mão dadas com Mariana. Ela está recostado ao seu ombro e ele olhando para frente. Ambos estão vestidos de branco em uma paisagem com pedras e grama.">
        </picture>
			</div>

			<div class="col-md-6 d-flex flex-column justify-content-center">
        <div class="couple__content">
          <h3 class="couple__subtitle">O noivo</h3>
          <p class="couple-excerpt">
            Oi! Eu sou o <strong>Bruno</strong>, tenho 34 anos e moro em BH e claro que torço pelo Galo. 
            Sou programador e luto pela acessibilidade digital. 
            Amo pensar, escrever, ler e falar sobre a vida, teologia e organização. 
            Nas horas vagas me aventuro no violão flamenco. 
            Conto com sua presença no dia mais importante de nossas vidas!
          </p>
 
          <h3 class="couple__subtitle">A noiva</h3>
          <p class="couple-excerpt">
            Sou a <strong>Mariana</strong> tenho 30 anos e sou de Petrópolis - RJ. 
            Sou muito habilidosa e criativa com crochê. 
            Tenho um amor incansável por Libras, que reflete na minha dedicação à inclusão e comunicação acessível. 
            Te espero para juntos comemorarmos esse dia tão especial.
          </p>
        </div>
			</div>
		</div>
	</div>
</section>

<style lang="scss">
  .couple {
    padding: 140px 0;

    &__title {
      font-family: 'Playfair Display', serif;
      font-weight: 600;
      font-size: 40px;
      margin: 20px 0;
      text-transform: capitalize;
      letter-spacing: 1px;
    }

    &__subtitle {
      font-family: 'Playfair Display', serif;
      font-size: 30px;
      color: var(--olive);
      font-weight: 800;
    }

    @media(max-width: 768px) {
      padding: 50px 0;
    }

    @media(max-width: 480px) {
      padding: 20px 0;
    }

    &__content {
      @media(max-width: 768px) { 
        padding-top: 40px;
      }  

      @media(max-width: 480px) { 
        padding-top: 20px;
      }  
    }
  }

  .section-title {
    margin-bottom: 70px;
  }

  .photo-item {
    position: absolute;
    top: 35%;
    width: 35ch;
  }
</style>
