---
import Heart from '../heart.astro';
---

<section class="wedding-info section-bg" aria-labelledby="casamento-title">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-lg-12">
				<div class="wrapper mb-70">
					<h2 class="wedding-info__title" id="casamento-title">O Casamento</h2>

					<div class="wedding-info__content">
						<p>Reservamos informações importantes sobre nosso casamento para você desfrutar.</p>
					</div>
          <Heart />
				</div>
			</div>
		</div>

		<div class="row">
      <article class="wedding-item col-md-4">
        <div class="photo-item">
          <picture>
            <source srcset="./images/wedding-info/dom-lenbruger.webp" type="image/webp">
            <source srcset="./images/wedding-info/dom-lenbruger.jpg" type="image/jpeg">
            <img src="./images/wedding-info/dom-lenbruger.jpg" alt="Fachada da Dom Lenbruger, ela é azul escura com detalhes em branco. O letreiro tem dons amarelos e branco." loading="lazy">
          </picture>
        </div>

        <div class="title-excerpt" style="min-height: 220px;">
          <h3 class="item__title">
            <a href="https://encurtador.com.br/dGJW7" target="_blank" rel="noopener noreferrer">O local</a>
          </h3>
          <address>
            Dom Lengruber <br>
            R. Pinho da Silva, 99 - 121 - Retiro, <br> 
            Petrópolis - RJ, 25680-670
          </address>
        </div>
      </article>

      <article class="wedding-item col-md-4">
        <div class="photo-item">
          <picture>
            <source srcset="./images/wedding-info/gift.webp" type="image/webp">
            <source srcset="./images/wedding-info/gift.jpg" type="image/jpeg">
            <img src="./images/wedding-info/gift.jpg" alt="Rosas brancas ao lado de uma caixa de presente marrom com um laço na cor lavanda. Ela está em cima de uma mesa branca." loading="lazy">
          </picture>
        </div>

        <div class="title-excerpt">
          <h3 class="wedding-gifts-title item__title"><a href="#wedding-gifts-title">Lista de presentes</a></h3>
          <p>Para nos presentear, disponibilizamos três opções de lista: Quero de casamento, Amazon e Preçolândia.</p>
        </div>
      </article>

      <div class="wedding-item col-md-4">
        <div class="photo-item">
          <picture>
            <source srcset="./images/wedding-info/accomodation.webp" type="image/webp">
            <source srcset="./images/wedding-info/accomodation.jpg" type="image/jpeg">
            <img src="./images/wedding-info/accomodation.jpg" alt="Quarto de hotel bem iluminado com um lençol branco um chapéu e um cachecol xadrez em cima dela, a janela está aberta com luz solar envolvendo o quarto." loading="lazy">
          </picture>
        </div>

        <div class="title-excerpt">
          <h3 class="item__title"><a href="/acomodacoes">Acomodações</a></h3>
          <p>Sabemos que muitos amigos e familiares virão de outros estados, por isso preparamos uma lista de de hotéis, pousadas e Airbnb.</p>
        </div>
      </div>
		</div>
	</div>
</section>

<style lang="scss">
	.wedding-info {
		padding: 100px 0;

    &__title {
      color: var(--olive);
      font-family: 'Playfair Display', serif;
      font-weight: 600;
      letter-spacing: 1px;
    }

    @media(max-width: 768px) {
      padding: 50px 0;
    }

    @media(max-width: 480px) {
      padding: 20px 0;
    }
	}

  .wedding-item {
    @media(max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  .photo-item {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .photo-item .layer.border-photo-caption {
    opacity: 1;
    border: 1px solid #Fff;
  }

  .photo-item .layer.wh95 {
    width: 95%;
    height: 95%;
  }

  .title-excerpt {
    position: relative;
    background-color: #FFF;
    padding: 25px;
  }

  .item__title {
    font-size: 20px;
    margin: 20px 0;
    text-transform: uppercase;
  }

  .item__title a:hover {
    color: #16161a !important;
  }
</style>
