.Our-story-area {
  position: relative;

  .story-img {
    img {
      width: 100%;
    }

    .story2 {
      position: relative;
      bottom: -51px;
      left: -30px;

      @media only screen and (min-width: 768px) and (max-width: 991px) {
        bottom: 0px;
        left: 0px;
      }

      @media only screen and (min-width: 576px) and (max-width: 767px) {
        bottom: 0px;
        left: 0px;
      }

      @media (max-width: 575px) {
        bottom: 0px;
        left: 0px;
      }

    }
  }

  .story-caption {
    display: flex;
    align-items: center;

    .story-details {
      padding-left: 150px;
      padding-right: 24px;

      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        padding-left: 121px;
        padding-right: 24px;
      }

      @media (max-width: 575px) {
        padding-left: 94px;
        padding-right: 5px;
      }

      h4 {
        font-size: 30px;
        font-weight: 400;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 21px;
      }

      p {
        color: #fff;

        @media (max-width: 575px) {
          font-size: 15px;
        }
      }
    }

    &.background-img {
      width: 474px;
      height: 583px;
      background-repeat: no-repeat;
      background-size: cover;

      @media (max-width: 575px) {
        width: 291px;
        height: 395px;
      }
    }
  }
}
