---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import WeddingInfo from '../components/wedding-info.astro';
import Hero from '../components/hero.astro';
import Countdown from '../components/countdown.astro';
import About from '../components/about.astro';
import GalleryArea from '../components/gallery-area.astro';
import Gift from '../components/gift.astro';
import ContactForm from '../components/contact-form.astro';
import RegistryGift from '../components/registry-gift.astro';
import Map from '../components/map.astro';
import Footer from '../components/footer.astro';
---

<Layout title="Mariana e Bruno">
	<Header />
	<main class="site-main" id="main-content">
		<Hero />
		<About />
		<WeddingInfo />
		<Countdown />
		<GalleryArea />
		<Gift />
		<ContactForm />
		<RegistryGift />
		<Map />
	</main>
	<Footer />
</Layout>

<style>
</style>
