---
import Icon from 'astro-icon';
import Layout from '../layouts/Page.astro';
import HeroInner from '../components/hero-inner.astro';

const { title } = Astro.props;
---

<Layout title="Mariana e Bruno - Nossa história">
  <HeroInner title="Sobre nós" />

  <section class="" id="accommodation" aria-labelledby="accommodation-title">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-xl-12">
          <h2 class="section-tittle text-center mb-80" id="accomodation-title">Hospedagens</h2>
          <p>Selecionamos algumas hospedagens próximas ao eventos.</p>
          <p>Separamos em duas categorias: <strong>Hotéis</strong> e <strong lang="en">Airbnb</strong></p>
        </div>

        <div class="col-xs-12">
          <h3 class="section-tittle text-center mb-80">Hotéis e Pousadas</h3>
        </div>

        <div class="col-xs-12">
          <h3>Airbnb</h3>

          <table class="table table-striped table-bordered">
            <caption>Hotéis e pousadas em Petropólis</caption>
            <thead>
              <tr>
                <th scope="col">Estabelecimento</th>
                <th scope="col">Link</th>
                <th scope="col">Proximidade ao evento</th>
              </tr> 
            </thead>
            <tbody>
              <tr>
                <th scope="row">Atelier Molinaro</th>
                <td><a href="https://bit.ly/atelier-molinaro">consultar disponibilidade do local</a></td>
                <td>Próximo ao evento</td>
              </tr>

              <tr>
                <th scope="row">Villa Violeta</th>
                <td><a href="https://bit.ly/atelier-molinaro">consultar disponibilidade do local</a></td>
                <td>Centro</td>
              </tr>
            </tbody> 
          </table>
        </div>
      </div>
    </div>
  </section> 

  <section class="" id="services" aria-labelledby="services-title">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <h2 id="services-title">Serviços</h2>
        </div>
      </div>
    </div>
  </section> 

  <section class="" id="entertainment" aria-labelledby="entertainment-title">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <h2 id="entertainment-title">O que visitar em Petropólis</h2>
        </div>
      </div>
    </div>
  </section> 
</Layout>
