---
import '../styles/style.scss';
import HeadMeta from '../components/settings/head-meta.astro';
import SkipLinks from '../components/skip-links/skip-links.astro';
import Header from '../components/header/header.astro';
import Footer from '../components/footer/footer.astro';

export interface Props {
	title: string;
}
---

<!DOCTYPE html>
<html lang="pt-br">
	<head>
    <HeadMeta />
	</head>
	<body>
    <SkipLinks />
    <Header />
    <main class="site-main" id="main-content">
		  <slot />
    </main>
    <Footer />

		<script src="/js/vendor/modernizr-3.5.0.min.js" is:inline></script>
		<script src="/js/vendor/jquery-3.7.0.min.js" is:inline></script>
		<script src="/js/popper.min.js" is:inline></script>
		<script src="/js/bootstrap.min.js" is:inline></script>
		<script src="/js/jquery.scrollUp.min.js" is:inline></script>
		<script src="/js/jquery.sticky.js" is:inline></script>
		<script src="/js/plugins.js" is:inline></script>
		<script src="/js/main.js" is:inline></script>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
	}

  .site-main {
    background: url(../images/pattern.png);
  }
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}

  h2 {
    color: var(--olive);
    font-weight: 700;
    letter-spacing: -2px;
  }
</style>
