---
import Icon from 'astro-icon';
---

<footer class="site-footer">
  <div class="container">
    <div class="footer-border">
      <div class="row d-flex align-items-center">
        <div class="col-xl-12">
          <div class="footer-copy-right">
            <p>
              <span lang="en">Copyright</span> &copy; {new Date().getFullYear()}
              Todos os direitos reservados | Esse template foi criado
              <Icon name="mdi:heart" aria-hidden="true" width="18" height="16" />
              por <a href="https://colorlib.com" rel="noopener noreferrer" target="_blank">Colorlib</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  .site-footer {
    background: var(--theme-black);
    color: #fff;
    padding: 10px;

  } 

  .footer-copy-right {
    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 2;
      margin: 0;
      color: #fff;
      text-align: center;
   }
  }

  [astro-icon="mdi:heart"] {
    color: #cd0102;
    fill: #cd0102;
  }
</style>
