---

---

<section class="gift-area gift-padding fix" data-background="assets/img/gallery/section_bg3.png">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="gift-caption text-center">
                  <h2>The Best Gift From You</h2>
                  <p>Will be your presentation in our wedding</p>
                  <a href="#" class="btn btn-whit">resarve your Seat</a>
              </div>
          </div>
      </div>
  </div>
</section>