---

---

<section class="gift-area gift-padding fix" style="background-image: url(/images/gallery/section_bg3.png);">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="gift-caption text-center">
                  <h2>O melhor presente de você</h2>
                  <p>Será sua presença em nosso casamento</p>
                  <a href="#" class="btn btn-whit">reserve o seu lugar</a>
              </div>
          </div>
      </div>
  </div>
</section>