<section class="section" id="hero-section" aria-labelledby="hero-section-title">
  <div class="slider-area">
    <div class="slider-active">
      <div class="single-slider slider-height hero-overly d-flex align-items-center">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-xl-8 col-lg-6 col-md-8">
              <div class="hero__caption">
                <span data-animation="fadeInLeft" data-delay=".3s">14 de outubro</span>
                <h1 data-animation="fadeInLeft" data-delay=".5s" data-duration="2000ms">
                  Bruno <strong> &</strong> Mariana
                </h1>
                <p data-animation="fadeInLeft" data-delay=".9s">vão se casar</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
