---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section aria-labelledby="indications-title">
  <div class="slider-area2">
    <div class="single-slider slider-height2  hero-overly d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap">
              <h1 class="h2 text-white" id="indications-title">{title}</h1>
              <p class="text-white">Separamos excelentes locais para hospedagem e passeios. <br /> Então aproveite sua estadia em Petropólis.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
