<section class="brand-area section-padding-b">
  <div class="container">
          <!-- Section Tittle -->
          <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
              <div class="section-tittle text-center mb-80">
                  <h2>Registry Gift</h2>
                  <img src="/images/gallery/tittle_img.png" alt="">
                  <p>Quisque nec facilisis sem. In at commodo velit. Aliquam tempor volutpat laoreet. Quisque non tellus eleifend arcu gravida aliquam. Vivamus quis consequat nisl</p>
              </div>
          </div>
      </div>
      <div class="brand-active brand-border">
          <div class="single-brand">
              <img src="/images/service/brand1.jpg" alt="">
          </div>
          <div class="single-brand">
              <img src="/images/service/brand2.jpg" alt="">
          </div>
          <div class="single-brand">
              <img src="/images/service/brand3.jpg" alt="">
          </div>
          <div class="single-brand">
              <img src="/images/service/brand4.jpg" alt="">
          </div>
          <div class="single-brand">
              <img src="/images/service/brand5.jpg" alt="">
          </div>
          <div class="single-brand">
              <img src="/images/service/brand3.jpg" alt="">
          </div>
      </div>
  </div>
</section>