---
import Icon from 'astro-icon';
---
<section class="pricing-card-area section-padding30 section-bg" data-background="/images/gallery/section_bg1.png">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-8">
        <div class="section-tittle text-center mb-70">
          <h2>Informações do casamento</h2>
          <img src="/images/gallery/tittle_img.png" alt="" />
          <p>
            Quisque nec facilisis sem. In at commodo velit. Aliquam tempor
            volutpat laoreet. Quisque non tellus eleifend arcu gravida aliquam.
            Vivamus quis consequat nisl
          </p>
        </div>
      </div>
    </div>
    <div class="row align-items-end">
      <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="single-card text-center mb-30">
          <div class="card-top">
            <span class="flaticon-chart"></span>
            <h3>The Ceremony</h3>
          </div>
          <div class="card-bottom">
            <ul>
              <li>
                <Icon name="jam:calendar-alt" />
                April 20, 2016
              </li>
              <li>
                <Icon name="jam:clock" />
                5:30 PM
              </li>
              <li>
                <Icon name="uil:map-marker-alt" />
                The Mayflower Hotel
              </li>
              <li>1127 Connecticut Avenue,NY</li>
              <li>
                <Icon name="mdi:map-outline" />
                Check out the map</li>
            </ul>
          </div>
          <div class="card-buttons mt-30">
            <a href="#" class="btn card-btn1">Get Started</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="single-card active text-center mb-30">
          <div class="card-top">
            <span class="flaticon-project"></span>
            <h3>The Reception</h3>
          </div>
          <div class="card-bottom">
            <ul>
              <li><Icon name="jam:calendar-alt" />April 20, 2016</li>
              <li><Icon name="jam:clock" />5:30 PM</li>
              <li><Icon name="uil:map-marker-alt" />The Mayflower Hotel</li>
              <li>1127 Connecticut Avenue,NY</li>
              <li><Icon name="mdi:map-outline" /> Check out the map</li>
            </ul>
          </div>
          <div class="card-buttons mt-30">
            <a href="#" class="btn card-btn1">Get Started</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="single-card text-center mb-30">
          <div class="card-top">
            <span class="flaticon-award"></span>
            <h3>The Party</h3>
          </div>
          <div class="card-bottom">
            <ul>
              <li><Icon name="jam:calendar-alt" />April 20, 2016</li>
              <li><Icon name="jam:clock" />5:30 PM</li>
              <li><Icon name="uil:map-marker-alt" />The Mayflower Hotel</li>
              <li>1127 Connecticut Avenue,NY</li>
              <li><Icon name="mdi:map-outline" /> Check out the map</li>
            </ul>
          </div>
          <div class="card-buttons mt-30">
            <a href="#" class="btn card-btn1">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
