---
import Layout from '../layouts/Page.astro';
import HeroInner from '../components/hero/hero-inner.astro';
import Moments from '../components/moments/moments.astro';
import Map from 'components/map/map.astro';

const { title } = Astro.props;
---

<Layout title="Mariana e Bruno - Nossa história">
  <HeroInner title="Nossa História" />

  <section class="our-history" id="our-history" aria-labelledby="our-history-title">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="wrapper">
          <h2 class="section-tittle text-center" id="our-history-title">Nossa história</h2>
          <p>Como é que o <strong>mineiro</strong> e a <strong>petropolitana</strong> foram se conhecer nesse mundo?</p>
        </div>
        

        <div class="our-history__inner">
          <div class="our-history__items love_js_items">
            <article class="our-history__item love_js_item row">
              <div class="col-lg-7">
                <div class="our-history__box love_text_item">
                  <h3>Amor à primeira vista</h3>
                  <p>Era dia 30 de junho de 2021, num grupo do telegram onde as pessoas conversavam sobre conservadorismo e cristianismo, numa conversa sobre trabalho ele falou que trabalha com acessibilidade digital. Ela, intérprete de Libras curiosa que só, chamou-o no privado: "- Oi! Eu também trabalho com acessibilidade".</p>
                </div>
              </div>

              <div class="col-lg-5">
                <div class="our-history__image love_img">
                  <picture>
                    <source srcset="./images/noivado.webp" type="image/webp">
                    <source srcset="./images/noivado.jpg" type="image/jpeg">
                    <img class="img-fluid" src="./images/noivado.jpg" alt="Pedido de noivado" aria-describedby="p1" loading="lazy">
                  </picture>
                  <div class="visually-hidden" id="p1">

                  </div>
                </div>
              </div>
            </article>

            <article class="our-history__item love_js_item right row">
              <div class="col-lg-5">
                <div class="our-history__image love_img">
                  <img class="img-fluid" src="https://picsum.photos/487/329" loading="lazy" alt="">
                </div>
              </div>
              <div class="col-lg-7">
                <div class="our-history__box love_text_item">
                  <h3>Primeiro beijo</h3>
                  <p>Depois de alguns dias juntos fisicamente, e após muitas conversas, já sabendo que tínhamos o mesmo propósito, o mesmo interesse, decidimos juntos namorar e só então nos beijamos timidamente no dia 18 de agosto de 2021.
                  </p>
                </div>
              </div>
            </article>

            <article class="our-history__item love_js_item row">
              <div class="col-lg-7">
                <div class="our-history__box love_text_item">
                  <h3>A distância</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo.</p>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="our-history__image love_img">
                  <img class="img-fluid" src="https://picsum.photos/487/329" loading="lazy" alt="">
                </div>
              </div>
            </article>

            <article class="our-history__item love_js_item right row">
              <div class="col-lg-5">
                <div class="our-history__image love_img">
                  <picture>
                    <source srcset="./images/noivado.webp" type="image/webp">
                    <source srcset="./images/noivado.jpg" type="image/jpeg">
                    <img class="img-fluid" src="./images/noivado.jpg" alt="Pedido de noivado" aria-describedby="p5" loading="lazy">
                  </picture>
                  <div class="visually-hidden" id="p5">
                    <p>Folha azul clara escrito em preto <cite lang="en">"To love each other, even when we hate each other. No running. Ever! Take care when old, senile, smelly. THIS IS FOREVER!"</cite> que significa: "Amarmo-nos, mesmo quando nos odiarmos. Nada de fugir. Jamais! Cuidar quando for velho, senil, fedorento. ISSO É PARA SEMPRE!" e as assinaturas de Bruno e Mariana. Sobre a folha há uma caixinha preta de veludo com um anel. O anel é dourado com pequenas pedra e detalhes arredondados e no meio há uma pedra transparente e brilhante redonda. Ambos estão sobre as pernas de Mariana que usa uma calça estampada azul e rosa.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="our-history__box love_text_item">
                  <h3>O noivado - parte 1</h3>
                  <p>Em dezembro de 2022, viajamos para São Paulo, para participar da festa da empresa que trabalhamos (NTT Data), lá ficamos na casa da Gabi. Depois da semana corrida de trabalho pudemos turistar no sábado... fomos conhecer o Farol Santander. Subindo andar por andar, encontramos uma exposição de Vinícius de Morais, um prato cheio pro poeta Pulis, né?</p>
                </div>
              </div>
            </article>

            <article class="our-history__item love_js_item row">
              <div class="col-lg-7">
                <div class="our-history__box love_text_item">
                  <h3>O noivado - parte 2</h3>
                  <p>E no meio de tantos versos de amor, o Bruno mostrou pra Mari o poema favorito dele, enquanto ela lia, ele a abraçou por trás, e colocou uma caixinha de veludo preto a sua frente sussurrando em seu ouvido: "Casa comigo?".</p>
                  <p>Pra impressionar, ele fez um post-it azul para assinarem igual do casamento da Meredith Grey e do Derek Shepherd.</p>
                </div>
              </div>

              <div class="col-lg-5">
                <div class="our-history__image love_img">
                  <picture>
                    <source srcset="./images/poema.webp" type="image/webp">
                    <source srcset="./images/poema.jpg" type="image/jpeg">
                    <img class="img-fluid" src="./images/poema.jpg" alt="Pedido de noivado" aria-describedby="p5" loading="lazy">
                  </picture>
                  <div class="visually-hidden" id="p5">
                    <p>Folha azul clara escrito em preto <cite lang="en">"To love each other, even when we hate each other. No running. Ever! Take care when old, senile, smelly. THIS IS FOREVER!"</cite> que significa: "Amarmo-nos, mesmo quando nos odiarmos. Nada de fugir. Jamais! Cuidar quando for velho, senil, fedorento. ISSO É PARA SEMPRE!" e as assinaturas de Bruno e Mariana. Sobre a folha há uma caixinha preta de veludo com um anel. O anel é dourado com pequenas pedra e detalhes arredondados e no meio há uma pedra transparente e brilhante redonda. Ambos estão sobre as pernas de Mariana que usa uma calça estampada azul e rosa.</p>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <Moments />
  <Map />
</Layout>

<style lang="scss">
  .our-history {
    padding: 120px 0;

    &__inner {
      max-width: 994px;
      margin: 0 auto;
    }  
  }

  .our-history__items {
    margin-bottom: -50px;
  }

  .our-history__box {
    background: #fff;
    box-shadow: 0 10px 30px 0 rgba(153, 153, 153, 0.1);
    margin-right: -17px;
    padding: 45px 90px;
    position: relative;
    text-align: center;
    overflow: hidden;
    z-index: 2;

    &:before {
      content: "";
      background: url(../images/shape.png) no-repeat scroll center center;
      position: absolute;
      left: -55px;
      bottom: -46px;
      height: 145px;
      width: 180px;
    }

    h3 { 
      color: var(--olive);
      margin-bottom: 16px;
      font-family: 'Playfair Display', serif;
      font-weight: 600;
    }

    p {
      font-size: 14px;
      line-height: 1.5;
    }
  }

  .our-history__image {
    margin-left: -112px;
  }



  // Par


  .love_journey_area{
	.love_inner{
		max-width: 944px;
		margin: auto;
	}
}
.love_js_items{
	margin-bottom: -50px;
}
.love_js_item{
	margin-bottom: 50px;
	.col-lg-7{
		vertical-align: middle;
		align-self: center;
	}
}

.right {
	.love_text_item {
		margin-right: 0px;
		&:before{
			background: url(../images/shape-2.png) no-repeat scroll center center;
			right: -45px;
			left: auto;
		}
	}

	.love_img {
		margin-left: 0px;
		margin-right: -112px;
	}
}

.love_text_item{
	background: #fff;
	margin-right: -17px;
	position: relative;
	z-index: 2;
	box-shadow: 0px 10px 30px 0px rgba(153, 153, 153, 0.1);
	text-align: center;
	padding: 45px 90px;
	overflow: hidden;

	&:before {
		content: "";
		background: url(../images/shape.png) no-repeat scroll center center;
		position: absolute;
		left: -55px;
		bottom: -46px;
		height: 145px;
		width: 180px;
	}

	h4{
		
		margin-bottom: 16px;
	
		font-weight: bold;
	}
	p{
		font-size: 14px;
	}
}
.love_img{
	margin-left: -112px;
}

 </style>
