---
import Icon from 'astro-icon';
import Layout from '../layouts/Page.astro';
import HeroInner from '../components/hero-inner.astro';
import Moments from 'components/moments/moments.astro';

const { title } = Astro.props;
---

<Layout title="Mariana e Bruno - Nossa história">
  <HeroInner title="Nossa História" />

  <section class="our-history" id="our-history" aria-labelledby="our-history-title">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-xl-12">
          <div class="wrapper">
            <h2 class="section-tittle text-center" id="our-history-title">Nossa história</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris  </p>
          </div>
        </div>

        <div class="love_js_items">
          <div class="love_js_item row">
            <div class="col-lg-7">
              <div class="love_text_item">
                <h4>Love at first sight</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo.</p>
              </div>
            </div>

            <div class="col-lg-5">
              <div class="love_img">
                <img class="img-fluid" src="img/journey/journey-b-1.jpg" alt="">
              </div>
            </div>
          </div>

          <div class="love_js_item right row">
            <div class="col-lg-5">
              <div class="love_img"><img class="img-fluid" src="img/journey/journey-b-2.jpg" alt=""></div>
            </div>
            <div class="col-lg-7">
              <div class="love_text_item">
                <h4>First Kissing</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo.</p>
              </div>
            </div>
          </div>

          <div class="love_js_item row">
            <div class="col-lg-7">
              <div class="love_text_item">
                <h4>Living Together</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo.</p>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="love_img"><img class="img-fluid" src="img/journey/journey-b-3.jpg" alt=""></div>
            </div>
          </div>
          <div class="love_js_item right row">
          <div class="col-lg-5">
          <div class="love_img"><img class="img-fluid" src="img/journey/journey-b-4.jpg" alt=""></div>
          </div>
          <div class="col-lg-7">
          <div class="love_text_item">
          <h4>Cherished Proposal</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo.</p>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <Moments />
</Layout>

<style lang="scss">
  .our-history {
    padding: 120px 0;
  }
</style>
