// ===================================================
// Header
// ===================================================

.main-header {
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    padding: 15px 0;
  }

  @media only screen and (min-width: 576px) and (max-width: 767px) {
    padding: 15px 0;
  }

  @media (max-width: 575px) {
    padding: 15px 0;
  }

  .main-menu {
    & ul {
      & li {
        display: inline-block;
        position: relative;
        z-index: 1;

        & a {
          color: #3c3e48;
          font-weight: 500;
          padding: 39px 19px;
          text-transform: uppercase;
          display: block;
          font-size: 16px;
          font-family: var(--font-3);

          @media only screen and (min-width: 992px) and (max-width: 1199px) {
            padding: 39px 15px;
          }

          @include transition(.3s);
        }

        &:hover {
          &>a {
            color: $theme-color;
          }
        }
      }
    }
  }
}

// header Sticky Responsive
.header-sticky ul li a {
  padding: 10px 19px;
}

.header-sticky.sticky-bar.sticky .main-menu ul>li>a {
  padding: 26px 20px;
}
