// =============================================================
// Breadcrumb
// =============================================================

.c-breadcrumbs__crumb {
  display: inline-block;
}

.c-breadcrumbs__link {
  color: #fff;
  text-transform: capitalize;
}