---
---

<section class="gift gift-padding fix" aria-labelledby="gift-title">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="gift-content">
					<h2 class="gift__title" id="gift-title">Você vai comparecer?</h2>

          <p>Será sua presença em nosso casamento</p>
          <a href="#" class="btn btn-whit">reserve o seu lugar</a>
				</div>
			</div>
		</div>
	</div>
</section>

<style lang="scss">
	.gift {
    background: var(--olive);
		&-content {
      text-align: center;
			p {
				color: var(--white);
				font-size: 30px;
				margin-bottom: 60px;
				line-height: 1.3;

				@media (max-width: 575px) {
					font-size: 23px;
				}

				@media only screen and (min-width: 768px) and (max-width: 991px) {
					font-size: 19px;
				}

				@media (max-width: 575px) {
					font-size: 18px;
				}
			}
		}

    &__title {
      color: var(--white);
      font-size: 70px;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 14px;

      @media only screen and (min-width: 768px) and (max-width: 991px) {
        font-size: 55px;
      }

      @media only screen and (min-width: 576px) and (max-width: 767px) {
        margin-bottom: 20px;
        font-size: 40px;
      }

      @media (max-width: 575px) {
        font-size: 26px;
        margin-bottom: 20px;
      }
	  }
	}
</style>
